<configuration>

    <appender name="STDOUT" class="io.symphonia.lambda.logging.DefaultConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX, UTC}] \(aws:%X{AWSRequestId:-NO_REQUEST_ID}\) \(cid:%X{CORRELATION_ID:-NO_CORRELATION_ID}\) %level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
